.card-header{
    background: #f5f5f5;
    color: #000;
    padding: 6px 15px;
    text-align: center;
    display: grid;
    height: 40px;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}
.card.card-row {
    width: 300px;
    margin: 0 !important;
    min-width: 270px;
    /* height: calc(100vh - 200px); */
    border-radius: 0;
    border-right: 0;
}
.card.card-row:last-child{
    border-right: 1px solid rgba(0,0,0,.125);
}
.ui-sortable-helper{
    border: none;
}
.ui-sortable-helper .sticky-add-icon{
    display: none;
}
.fa-arrows {
    cursor: move;
}
.title-of-card {
    background: transparent;
    color: black;
    border: none;
    text-align: center;
    text-transform: uppercase;
}
.title-of-card:focus {
    outline: none;
}
.sticky-add-icon {
    height: 25px;
    width: 25px;
    border: 1px solid grey;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: 25px;
    cursor: pointer;
    z-index: 1;
    background: white;
}
.fa-trash {
    color: #dd2d20;
    cursor: pointer;
}

input[type="color"] {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    width: 14px;
    min-width: 14px;
    height: 14px;
    position: relative;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}

.card-options {
    display: none!important;
}

.df-fr-jse {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.opener {
    opacity: 0;
}

.opener:hover {
    opacity: 1;
}

.status-lbl {
    padding: 4px;
    border-radius: 4px;
    margin-right: 2px;
    line-height: 1;
    display: inline-block;
}

.box {
    padding: 12px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background: #0a141e;
    color: white;
}

.box img {
    height: 40px;
    width: 40px;
    filter: invert(100%);
}

.box div {
    margin-top: 10px;
}

.color-blue {
    color: #0057a9;
    cursor: pointer;
}

.border-light {
    border-color:#0000000a;
}

.text-danger-error {
    color: red;
}



/* Dropdowns */
.status-dropdown-toggle-for-cs,
.status-dropdown-toggle-inner,
.status-dropdown-toggle-inner-2,
.status-dropdown-toggle-inner-3 {
    border: 1px solid #92989b66;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    padding: 4px 6px;
    background: #fff;
}

.status-dropdown-menu-for-cs,
.status-dropdown-menu-inner,
.status-dropdown-menu-inner-ul,
.status-dropdown-menu-inner-2,
.status-dropdown-menu-inner-2-ul,
.status-dropdown-menu-inner-3,
.status-dropdown-menu-inner-3-ul{
    border: 1px solid #92989b66;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    top: 0;
    z-index: 1;
    max-height: 185px;
    overflow: auto;
}

.status-dropdown-menu-inner::-webkit-scrollbar-track,
.status-dropdown-menu-inner-2::-webkit-scrollbar-track,
.status-dropdown-menu-inner-3::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.status-dropdown-menu-inner::-webkit-scrollbar,
.status-dropdown-menu-inner-2::-webkit-scrollbar,
.status-dropdown-menu-inner-3::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.status-dropdown-menu-inner::-webkit-scrollbar-thumb,
.status-dropdown-menu-inner-2::-webkit-scrollbar-thumb,
.status-dropdown-menu-inner-3::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
}

.status-dropdown-menu-for-cs li,
.status-dropdown-menu-inner li,
.status-dropdown-menu-inner-ul li,
.status-dropdown-menu-inner-2 li,
.status-dropdown-menu-inner-2-ul li,
.status-dropdown-menu-inner-3 li,
.status-dropdown-menu-inner-3-ul li{
    padding: 3px 6px;
    cursor: pointer;
}

.status-dropdown-menu-inner>li:hover,
.status-dropdown-menu-inner-2>li:hover,
.status-dropdown-menu-inner-3>li:hover {
    background: #e8e8e8;
    color: #000;
}

.dropdown-menu-inner-sub,
.dropdown-menu-inner-2-sub,
.dropdown-menu-inner-3-sub {
    position: absolute;
    top: 8px;
    background: #fff;
    left: 7px;
    width: 260px;
    border: 1px solid #ddd;
}

.dropdown-menu-inner-sub li:hover,
.dropdown-menu-inner-2-sub li:hover,
.dropdown-menu-inner-3-sub li:hover {
    background: #e8e8e8!important;
    color: #000;
}

.dis-none {
    display: none;
}

.no-btn {
    border: none;
    background: transparent;
    color: #0057a9;
}

#change-stage-minute,
#add-task-minute, 
#change-user-minute {
    width: 67px;
    margin-left: 10px;
    height: 28px;
}

#change-stage-hour,
#add-task-hour,
#change-user-hour {
    margin-left: 10px;
    height: 28px;
    width: 52px;
}
/* Dropdowns */









/* overlays */
.dropdown-menu-inner-sub-overlay,
.dropdown-menu-inner-2-sub-overlay,
.dropdown-menu-inner-3-sub-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
/* overlays */


/* other css */
.bg-light-green {
    background-color: #f2fff1;
    color: black;
}

.bg-light-grey {
    background-color: #f5f5f5;
    color: black;
}

.width-35 {
    width: 25px;
    height: 25px;
    position: relative;
    right: 10px;
}

/* .min-max-height { */
    /* min-height: 75px;
    max-height: 75px; */
/* } */

.custom-p {
    padding: 0.5rem 1rem!important;
}

.status-dropdown-menu-inner-2 {
    z-index: 2;
}

.status-dropdown-menu-inner-2-ul {
    z-index: 3;
}
.drag-area{
    height: 78px;
}
.cardDrag {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid #dbdbdb !important;
    }
.dragMain:last-child{
    border-right: 1px solid #dbdbdb !important;

}
.parent-card:first-child .cardDrag{
    border-left: 1px solid #dbdbdb !important;
}

#delete-btn-change-status, #delete-btn-add-task, #delete-btn-change-user {
    min-width: 45px;
    background: #dd2d20!important;
    border: none!important;
}
    
#delete-btn-change-status > i, #delete-btn-add-task > i, #delete-btn-change-user > i {
    color: white!important;
}

.border-left-1p-solid-grey {
    border-right: 1px solid rgba(0,0,0,.125)!important;
}
.dragOverlay:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ff05050a;
    cursor: no-drop;
}
/* other css */

.dragMain {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#custom-cursor {
    position: absolute;
    left: -566px;
    top: -60px;
    pointer-events: none;
    display: none;
    z-index: 99999!important;
    word-wrap: break-word;
    background-clip: border-box;
}

#custom-cursor > div {
    height: 76px;
    width: 269px;
}

.hover-trigger-add-div:hover {
    background-color: #2a52bc1a!important;
    color: transparent;
}

.hover-trigger-add-div:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pos-abs-0 {
    position: absolute;
    right: -8px;
    bottom: 0px;
}