@media (min-width:1025px) {
    .pl284{
        padding-left: 284px !important;
    }
    .asideOpen .pl284{
        padding-left: 114px !important;
    }
    aside.sidebarClose{
        width: 90px;
        min-width: 90px;
    }
    aside.sidebarClose .menuList li a,
    aside.sidebarClose .jcc{
        justify-content: center !important;
    }
    aside.sidebarClose .menuList li svg{
        margin-right: 0;
    }
    aside.sidebarClose .userProfile{
        padding: 10px 0;
    }
    aside.sidebarClose .displayNone{
        display: none;
    }
    aside.sidebarClose .logoBx svg{
        margin-right: 0 !important;
    }
    .rightSection{
        height: 100vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .rightSection::-webkit-scrollbar-track
    {
        background: linear-gradient(90deg,#363636,#e7e7e7 1px,#cbcbcbb0 0,#dfdfdf);
    }

    .rightSection::-webkit-scrollbar
    {
        width: 10px;
        height: 10px;
    }

    .rightSection::-webkit-scrollbar-thumb
    {
        background: #15283c;
        box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
    }
    body{
        overflow: hidden;
    }
    /* .dataTables_wrapper .col-sm-12{
        max-height: calc(100vh - 426px);
    } */
    table.dataTable th{
        position: sticky !important;
        top: 0;
        z-index: 1;
    }
}


@media (max-width:1440px) {
    .loginBanner img,
    .loginBanner{
        height: 370px;
    }
    .statsCard .cardTop div{
        font-size: 20px !important;
    }
}
@media (max-width:1024px) {
    aside{
        transform: translateX(-260px);
        position: fixed;
        z-index: 99999;
    }
    aside.sidebarClose{
        transform: translateX(0);
        width: 260px;
    }
    header{
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .d-block-992{
        display: block !important;
    }
    .tooltip, .asideOverlay{
        display: none !important;
    }
    .rightSection{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:992px) {
    .loginBanner img,
    .loginBanner{
        height: 250px;
    }
    .newOrderWrpr .col-order-1 {
        min-width: 150px;
    }
    .d-none-992{
        display: none !important;
    }
}
@media (max-width:768px) {
    .d-block-768{
        display: block !important;
    }
    .mt-20-768{
        margin-top: 20px;
    }
    .importStep .countStep{
        padding-left: 0;
    }
    div.dataTables_wrapper div.dataTables_info{
        margin-bottom: 10px;
    }
    .statsWrpr .statRow2 .col-md-6 .statsCard:last-child, .dashWrpr .mb-5 {
        margin-bottom: 30px !important;
    }
}
@media (max-width:576px) {
    .d-none-500{
        display: none !important;
    }
    .modal-header {
        padding: 15px;
    }
    .mb-10-500{
        margin-bottom: 10px !important;
    }
    .mt-10-500{
        margin-top: 10px !important;
    }
    .modal-footer {
        padding: 10px 15px;
    }
    .importWrpr .file-upload-wrapper:after, .f-14-500, .dashWrpr .statsCard .cardTop div{
        font-size: 14px !important;
    }
    .importWrpr .uploadStatus .colOne, .importWrpr .uploadStatus .colTwo{
        font-size: 13px !important;
    }
    .f-16-500, .statsCard .cardTop div,div.tableHeading span{
        font-size: 16px !important;
    }
    .tableHeading::before{
        margin: 0 10px 0 0;
    }
    .tableHeading::after {
        margin: 0 0 0 10px;
    }
    .w-100-500{
        width: 100% !important;
    }
    .breadcrumb h2, .f-18-500{
        font-size: 18px !important;
    }
    .f-20-500{
        font-size: 20px !important;
    }
    .position-initial-500{
        position: initial !important;
    }
    .mb-20-500{
        margin-bottom: 20px !important;
    }
    .d-block-500{
        display: block !important; 
    }
    .dashWrpr .dashRow .cardTop, .dashWrpr .dashRow .cardYearList .tableCards{
        margin: 0 -15px;
    }
    header {
        padding: 0 15px 0 15px;
        min-height: 50px;
    }
    aside .logoSec{
        min-height: 50px;
    }
    aside .logoSec img{
        width: 37px;
    }
    .filterDropdownBx{
        left: 0;
        right: auto;
        width: calc(100% - 0px);
        min-width: auto;
    }
    header .notificationDrop .notificationBody.filterDropdownBx {
        top: 10px !important;
        width: calc(100% - 30px) !important;
        left: 45px !important;
    }
    header .userMenu .dropdown-menu{
        min-width: 170px;
    }
    footer, .dashWrpr .dashRow .cardTop, .notificationBody li a, .statsCard .cards, .settingWrpr .cardsFooter, .importWrpr .fileProgress, .importWrpr .uploadStatus, .middleContent, .tableCards .cardsHeader, .cardsHeader, .importWrpr .fileUploadBx {
        padding: 15px !important;
    }
    header ul li{
        margin-left: 20px;
    }
    .loginBanner img,
    .loginBanner{
        height: 250px;
    }
    .loginCard .loginCardHead{
        min-height: 65px;
        bottom:35px;
    }
    .loginCard .loginCardBody{
        padding-bottom: 30px;
    }
    .tableCards .cardsHeader button{
        margin-bottom: 10px;
        font-size: 12px !important;
    }
    .breadcrumb {
        padding: 10px 15px 0;
    }
    .middleContent{
        padding-top: 0 !important;
    }
    #filterBtn, #filterInput{
        margin-top: 10px;
    }
    .statsWrpr .cardTop{
        left: 12px;
        width: calc(100% - 24px);
    }
    .statsCard .cardTop svg{
        margin-right: 10px !important;
        width: 25px;
    }
    .statsCard .cards li{
        padding: 12px 0;
    }
    .settingWrpr .cardsBody {
        padding: 15px;
    }
    .notiDropdown {
        min-width: calc(100% - 30px);
        width: calc(100% - 30px);
        transform: none !important;
        left: 15px !important;
        top: 65px !important;
    }
    header ul li .badges {
        top: 11px;
        right: 67px;
        left: auto;
    }
    .menuicn{
        width: 35px;
        height: 35px;
    }
    .page-link,
    .page-item:first-child .page-link, .page-item:last-child .page-link{
        font-size: 14px;
        padding: 4px 6px;
    }
    .w-30-500{
        width: 30% !important;
    }
    .saber-toast {
        width: calc(100vh - 295px) !important;
    }
    .saber-toasts-container-top-right {
        right: 15px;
        top: 60px;
    }
    .accountWrpr .cardsBody textarea {
        height: 100px;
        padding-top: 12px;
        resize: none;
    }
    .accountWrpr .avatar-upload .avatar-preview {
        width: 120px;
        height: 120px;
    }
    .accountWrpr .avatar-upload .avatar-edit {
        bottom: -3px;
    }
    .accountWrpr .nav-link{
        min-width: 100%;
        font-size: 12px;
        padding: 5px;
        margin: 0;
    }
    .accountWrpr .nav-tabs{
        justify-content: space-between !important;
        padding: 0 15px;
    }
    .accountWrpr .nav-item{
        width: 49%;
    }
}

@media (max-width:450px) {
    .settingWrpr .cardsFooter button{
        width: 50%;
        min-width: 50%;
    }
    .settingWrpr .cardsFooter button:first-child{
        margin-left: 0;
    }
    .stepLeadDetail .cardsFooter{
        display: block !important;
    }
    .stepLeadDetail .cardsFooter button.f-500{
        min-width: 100% !important;
        margin:0 0 10px;
    }
}